<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="iocConfiguration" type="Domstolene.JFS.CommonLibrary.IoC.ConfigurationSectionHandler, Domstolene.JFS.CommonLibrary.IoC"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DsiNext.DeliveryEngine.Repositories.Metadata.OldToNew.ConfigurationValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <iocConfiguration>
    <container type="Domstolene.JFS.CommonLibrary.IoC.Windsor.Container, Domstolene.JFS.CommonLibrary.IoC"/>
    <containerConfigurationProviders>
      <clear/>
      <!-- Infrastructure -->
      <add name="ioc" type="Domstolene.JFS.CommonLibrary.IoC.Windsor.ConfigurationProvider, Domstolene.JFS.CommonLibrary.IoC"/>
      <add name="informationLogger" type="DsiNext.DeliveryEngine.Infrastructure.IoC.InformationLoggerConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="exceptionLogger" type="DsiNext.DeliveryEngine.Infrastructure.IoC.ExceptionLoggerConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="exceptionHandling" type="DsiNext.DeliveryEngine.Infrastructure.IoC.ExceptionHandlingConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="configurationRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.ConfigurationRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <!-- Repositories for converting old delivery format to the new delivery format -->
      <add name="metadataRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OldToNewMetadataRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="dataManipulators" type="DsiNext.DeliveryEngine.Infrastructure.IoC.DataManipulatorsConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="dataRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OldToNewDataRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="documentRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OldToNewDocumentRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <!-- Repositories for reading data from an Oracle database
      <add name="metadataRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OldToNewMetadataRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="dataManipulators" type="DsiNext.DeliveryEngine.Infrastructure.IoC.DataManipulatorsConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="dataRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OracleDataRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="documentRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.OldToNewDocumentRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      -->
      <!-- Business logic and output repository -->
      <add name="archiveVersionRepository" type="DsiNext.DeliveryEngine.Infrastructure.IoC.ArchiveVersionRepositoryConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <!-- Don't use any validations
      <add name="primaryKeyDataValidator" type="DsiNext.DeliveryEngine.Infrastructure.IoC.PrimaryKeyDataValidatorConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="foreignKeysDataValidator" type="DsiNext.DeliveryEngine.Infrastructure.IoC.ForeignKeysDataValidatorConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="mappingDataValidator" type="DsiNext.DeliveryEngine.Infrastructure.IoC.MappingDataValidatorConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      -->
      <add name="dataValidators" type="DsiNext.DeliveryEngine.Infrastructure.IoC.DataValidatorsConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
      <add name="businessLogic" type="DsiNext.DeliveryEngine.Infrastructure.IoC.BusinessLogicConfigurationProvider, DsiNext.DeliveryEngine.Infrastructure"/>
    </containerConfigurationProviders>
  </iocConfiguration>

  <connectionStrings>
    <clear/>
    <add name="OracleDataRepository" connectionString="User Id=DSIMASTER;Password=en3cote;Data Source=LXORACLE;Min Pool Size=15;Connection Lifetime=1800;Connection Timeout=900"/>
  </connectionStrings>

  <appSettings>
    <clear/>
    <add key="LogPath" value="C:\Temp"/>
    <add key="SourcePath" value="C:\Temp\Source\BOR"/>
    <add key="DataManipulatorsFileName" value="DataManipulators.xml"/>
    <add key="ArchivePath" value="C:\Temp\Target"/>
  </appSettings>

  <applicationSettings>
    <DsiNext.DeliveryEngine.Repositories.Metadata.OldToNew.ConfigurationValues>
      <setting name="ArchiveInformationPacketType" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="AlternativeSystemNameCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Item 1</string>
            <string>Item 2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SystemPurpose" serializeAs="String">
        <value>Byretternes Sagsbehandlingssystemer</value>
      </setting>
      <setting name="SystemContent" serializeAs="String">
        <value>Relationsdatabase centreret omkring tabellen Sagliste. Beskrivelse kan ses i dokumentet lovgrundlag</value>
      </setting>
      <setting name="RegionNum" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="KomNum" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="CprNum" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="CvrNum" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="MatrikNum" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="BbrNum" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="WhoSygKod" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="SourceNameCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Item 1</string>
            <string>Item 2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserNameCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Item 1</string>
            <string>Item 2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PredecessorNameCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Item 1</string>
            <string>Item 2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FormVersion" serializeAs="String">
        <value>2.2</value>
      </setting>
      <setting name="FormClassCollection" serializeAs="Xml">
        <value>
          <ArrayOfFormClass xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FormClass>
              <NameSource>FORM classification</NameSource>
              <NameTarget>42 20 08</NameTarget>
              <Description>Strafferetssager</Description>
            </FormClass>
            <FormClass>
              <NameSource>FORM classification</NameSource>
              <NameTarget>42 20 10</NameTarget>
              <Description>Civilretssager</Description>
            </FormClass>
          </ArrayOfFormClass>
        </value>
      </setting>
      <setting name="ContainsDigitalDocuments" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="SearchRelatedOtherRecords" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="RelatedRecordsNameCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Item 1</string>
            <string>Item 2</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SystemFileConcept" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="MultipleDataCollection" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="PersonalDataRestrictedInfo" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="OtherAccessTypeRestrictions" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ArchiveApproval" serializeAs="String">
        <value>Statens Arkiver</value>
      </setting>
      <setting name="ArchiveRestrictions" serializeAs="String">
        <value>Statens Arkivers retningslinier</value>
      </setting>
      <setting name="ContextDocumentDateCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AFVBESTM;Month;01-10-2017</string>
            <string>BESKR01;Month;01-10-2017</string>
            <string>BESKR02;Month;01-10-2017</string>
            <string>BESKR04;Month;01-10-2017</string>
            <string>BESKR05;Month;01-10-2017</string>
            <string>BESKR08;Month;01-10-2017</string>
            <string>DIAGRAM;Month;01-10-2017</string>
            <string>DOKKONV;Month;01-10-2017</string>
            <string>FELTER;Month;01-10-2017</string>
            <string>LOVGRUND;Month;01-10-2017</string>
            <string>NOTAT;Month;01-10-2017</string>
            <string>VEJLED;Month;01-10-2017</string>
            <string>VEJLED1;Month;01-10-2017</string>
            <string>VEJLED2;Month;01-10-2017</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ContextDocumentAuthorCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AFVBESTM;Institution 1|Author name 1;Institution 2</string>
            <string>BESKR01;Institution 3|Author name 3;Institution 4</string>
            <string>BESKR02;Institution 3|Author name 3;Institution 4</string>
            <string>BESKR04;Institution 3|Author name 3;Institution 4</string>
            <string>BESKR05;Institution 3|Author name 3;Institution 4</string>
            <string>BESKR08;Institution 3|Author name 3;Institution 4</string>
            <string>DIAGRAM;Institution 3|Author name 3;Institution 4</string>
            <string>DOKKONV;Institution 3|Author name 3;Institution 4</string>
            <string>FELTER;Institution 3|Author name 3;Institution 4</string>
            <string>LOVGRUND;Institution 3|Author name 3;Institution 4</string>
            <string>NOTAT;Institution 3|Author name 3;Institution 4</string>
            <string>VEJLED;Institution 3|Author name 3;Institution 4</string>
            <string>VEJLED1;Institution 3|Author name 3;Institution 4</string>
            <string>VEJLED2;Institution 3|Author name 3;Institution 4</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ContextDocumentCategoryCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AFVBESTM;ArchivalTransformationInformation</string>
            <string>BESKR01;ArchivalTransformationInformation</string>
            <string>BESKR02;ArchivalTransformationInformation</string>
            <string>BESKR04;ArchivalTransformationInformation</string>
            <string>BESKR05;ArchivalTransformationInformation</string>
            <string>BESKR08;ArchivalTransformationInformation</string>
            <string>DIAGRAM;SystemAdministrativeFunctions;SystemDataProvision</string>
            <string>DOKKONV;ArchivalTransformationInformation</string>
            <string>FELTER;ArchivalTransformationInformation</string>
            <string>LOVGRUND;ArchivalTransformationInformation</string>
            <string>VEJLED;ArchivalTransformationInformation</string>
            <string>VEJLED1;ArchivalTransformationInformation</string>
            <string>VEJLED2;ArchivalTransformationInformation</string>
          </ArrayOfString>
        </value>
      </setting>
    </DsiNext.DeliveryEngine.Repositories.Metadata.OldToNew.ConfigurationValues>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
